@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.play-container{
    margin: 0;
    
    padding:0px 30px 0 30px;
    height: 100%;
    background-color: #434973;
    display: flex;
}
.game {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
}
.logo{
    font-family:'Inconsolata';
    font-size: 50px;
}
.definition p {
    font-family:'Inconsolata';
    font-size: 25px;
}
.maze {
    position: sticky;
    margin: 0 10px 10px 10px;
    top: 0;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    max-height: 100vh;
    overflow: hidden;
    border-radius: 20px;
    /* width: 50%;
    height: 100vh; */
}
option, select {
    font-family:'Inconsolata';
    cursor: pointer;
}
.terminal{
    /* width: 570px; */
    height: 50%;
    background-color: #0D0C1D;
    width: 100%;
    font-family:'Inconsolata';
    border-radius: 10px;
}
.headline {

font-family: 'Consolas';
font-style: normal;
font-weight: 400;
font-size: 45px;
}
.intro-text {
    font-family: 'Consolas';
font-style: normal;
font-weight: 400;
font-size: 20px;
}
.btm-btn {
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #0D0C1D;
    color: white;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 6px;
}

.select {
    outline: none;
    margin: 5px 0 0 5px;
    border: none;
    background-color: #0D0C1D;
    color: white;
    width: 160px;
    height: 30px;
    border: 1px solid white;
    padding-left: 20px;
    border-radius: 30px;
}

.code {
    position: relative;
    padding: 20px;
    height:360px;
    overflow-y: auto;
    max-height: 100vh;
}
::-webkit-scrollbar {  
    width: 0px;  
    background: transparent;   
}
#cursor {
    position: absolute;
    display: inline-block;
    width: 5px;
    height:20px;
    background-color: white;
}

::webkit-scrollbar {
    height: 400px;
}
.next {
    align-self: flex-end;
    margin-bottom: 30px;
}
.title {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.levels {
    display: flex;
    width : 245px;
    height: 30px;
    justify-content: space-between;
}
.level {
    background-color: rgb(255,255,255,0.3);
    border-radius: 5px;
    width: 160px;
    height: 30px;
    display: inline-block;
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 20px;
    line-height:30px;
    padding-left: 20px;
}
.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(255,255,255,0.3);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#triangle-left { 
    position: absolute;
    left:10px;
    top: 5px;
    display: inline-block;  
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;     
}
#triangle-right { 
    position: absolute;
    left:10px;
    top: 5px;
    display: inline-block;  
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;     
}

.maze-inner { 
    
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    /* opacity : 0.5; */
    border-radius: 20px;
}
@media(max-width: 764px) {
    .play-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .title {
        flex-direction: column;
        align-items: center;
    }
    .maze {
        position:unset;
    }
    .game {
        width: 100%;
    }
}

.definition {
    font-family: 'Inconsolata';
}